<<<<<<< HEAD
body
  font-family: sans-serif
img
  max-width: 100%
.container 
  width: 1170px
  margin: auto
@media (max-width: 1200px)  
  .container
    width: 760px
@media (max-width: 768px)  
  .container
    max-width: 580px
    width: 90%
.button
  border-radius: 10px
  background-color: $main-color
  border: none
=======
body
  font-family: sans-serif
img
  max-width: 100%
.container 
  width: 1170px
  margin: auto
@media (max-width: 1200px)  
  .container
    width: 760px
@media (max-width: 768px)  
  .container
    max-width: 580px
    width: 95%
.button
  border-radius: 10px
  background-color: $main-color
  border: none
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
  padding: 18px 30px