.footer
  position: relative
.map
  position: absolute
  top: 0
  left: 0
  width: 50%  
.contacts
  flex-basis: 50%
  padding-top: 100px
  padding-left: 200px
  &__title
    +bold
    font-size: 22px
    line-height: 45px
  &-block
    display: flex
    justify-content: flex-end
  &-list
    padding: 0
    list-style: none  
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 30px
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 40px