@charset "UTF-8";
<<<<<<< HEAD
=======
/* line 1, D:/Академия верстки/projects/webstart/src/sass/_interface.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
body {
  font-family: sans-serif;
}

<<<<<<< HEAD
=======
/* line 3, D:/Академия верстки/projects/webstart/src/sass/_interface.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
img {
  max-width: 100%;
}

<<<<<<< HEAD
=======
/* line 5, D:/Академия верстки/projects/webstart/src/sass/_interface.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
<<<<<<< HEAD
=======
  /* line 9, D:/Академия верстки/projects/webstart/src/sass/_interface.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
<<<<<<< HEAD
  .container {
    max-width: 580px;
    width: 90%;
  }
}

=======
  /* line 12, D:/Академия верстки/projects/webstart/src/sass/_interface.sass */
  .container {
    max-width: 580px;
    width: 95%;
  }
}

/* line 15, D:/Академия верстки/projects/webstart/src/sass/_interface.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

/* Импорт стилей шапки */
<<<<<<< HEAD
=======
/* line 1, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
.navbar {
  padding: 8px 0;
}

<<<<<<< HEAD
.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
=======
/* line 3, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 7, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
.navbar__info {
  display: flex;
  align-items: center;
}

/* line 10, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
.navbar__address {
  display: flex;
  flex-direction: column;
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
  text-align: end;
  font-size: 13px;
  font-weight: 400;
}

<<<<<<< HEAD
=======
/* line 13, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
.navbar__button {
  margin-left: 30px;
}

<<<<<<< HEAD
=======
/* line 15, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
<<<<<<< HEAD
  .navbar__contacts {
    display: none;
  }
=======
  /* line 24, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
  .navbar__contacts {
    display: none;
  }
  /* line 26, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
    font-weight: 400;
  }
<<<<<<< HEAD
=======
  /* line 29, D:/Академия верстки/projects/webstart/src/sass/blocks/_navbar.sass */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
  .navbar__logo {
    width: 90px;
  }
}

<<<<<<< HEAD
.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 140px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 600;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */
=======
/*# sourceMappingURL=../css/style.map */
>>>>>>> 0a28e9cb8300a2b2fa06b34d49c8d037dc751e1c
